<div class="p-3 m-3 border" *ngIf="isSecretariat">
    <form [formGroup]="thesisForm" (ngSubmit)="onCreateThesis()">
        <div class="m-3 text-info">Create a new thesis application.</div>
        <div class="row row-cols-1">

            <div class="input-group col">
                <div class="input-group-prepend"><span class="input-group-text">Thesis title</span></div>
                <input type="text" formControlName="title" placeholder="Title" class="form-control">
            </div>
            <div class="col text-danger" *ngIf="!thesisForm.get('title').valid && thesisForm.get('title').touched && !thesisForm.disabled"><small>Enter a title.</small></div>
            <div class="mb-3"></div>

            <div class="input-group col">
                <div class="input-group-prepend"><span class="input-group-text">Course</span></div>
                <input type="text" formControlName="course" placeholder="Course" class="form-control">
            </div>
            <div class="col text-danger" *ngIf="!thesisForm.get('course').valid && thesisForm.get('course').touched && !thesisForm.disabled"><small>Enter a course.</small></div>
            <div class="mb-3"></div>
            
            <div class="input-group col">
                <div class="input-group-prepend"><span class="input-group-text">Author</span></div>
                <input type="text" formControlName="author" placeholder="Author address" class="form-control">
            </div>
            <div class="col text-danger" *ngIf="!thesisForm.get('author').valid && thesisForm.get('author').touched && !thesisForm.disabled"><small>Enter a valid Ethereum Address</small></div>
            <div class="mb-3"></div>
            
            <div class="input-group col">
                <div class="input-group-prepend"><span class="input-group-text">Supervisor</span></div>
                <input type="text" formControlName="supervisor" placeholder="Supervisor address" class="form-control">
            </div>
            <div class="col text-danger" *ngIf="!thesisForm.get('supervisor').valid && thesisForm.get('supervisor').touched && !thesisForm.disabled"><small>Enter a valid Ethereum Address</small></div>
            <div class="mb-3"></div>
        </div>
        <div class="row row-cols-1 row-cols-xl-2">
            <div class="col mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Publication date</span>
                    </div>
                    <input type="date" formControlName="publicationDate" placeholder="Date" class="form-control">
                </div>
                <div class="text-danger" *ngIf="!thesisForm.get('publicationDate').valid && thesisForm.get('publicationDate').touched && !thesisForm.disabled"><small>Enter a valid date.</small></div>
            </div>
            <div class="col mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Embargo period</span>
                    </div>
                    <input type="number" formControlName="embargoPeriod"  placeholder="Days" class="form-control">
                </div>
            </div>
            <div class="text-danger" *ngIf="!thesisForm.get('embargoPeriod').valid && thesisForm.get('embargoPeriod').touched"><small>Enter a number of days for the embargo.</small></div>
        </div>
        <div class="row row-cols-1 mb-3">
            <div class="input-group col">
                <div class="input-group-prepend"><span class="input-group-text">File</span></div>
                <input type="url" formControlName="fileUrl" placeholder="http://" class="form-control">
            </div>
            <div class="col text-danger" *ngIf="!thesisForm.get('fileUrl').valid && thesisForm.get('fileUrl').touched && !thesisForm.disabled"><small>Enter a valid URL.</small></div>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3"><button class="btn btn-block btn-danger" type="reset">Reset</button></div>
            <div class="col mb-3">
                <button class="btn btn-block btn-success" type="submit" [disabled]="!thesisForm.valid">Submit</button>
                <!-- <button *ngIf="thesisCreated" class="btn btn-block btn-primary" type="button" (click)="reload()">New application</button> -->
            </div>
        </div>
    </form>
    <div *ngIf="thesisCreated" class="text-success">
        <div class="row"><div class="col mb-3">New thesis application created.</div></div>
        <div class="col text-center"><h5>{{thesisHash}}</h5></div>     
    </div>
    <div *ngIf="thesisCreationException" class="small text-danger">{{thesisCreationExceptionMessage}}</div>
</div>