
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  </head>
  <body class="container p-3">
    <div class="col mb-3">
      <div class="row">
        <div class="col col-md-auto">
          <img src="assets/images/uniba_mini.png" height=90px>
        </div>
        <div class="col text-center">
          <div class="align-items-start h3">Università degli Studi di Bari Aldo Moro</div>
          <div class="align-self-center h5"><small>Facoltà di Scienze Matematiche Fisiche e Naturali</small></div>
          <div class="align-items-end mb-3 h4 text-primary">Thesis Management Console DApp</div>
        </div>
        <div class="col col-md-auto">
          <img src="assets/images/dib.jpg" height=90px>
        </div>
      </div>
    </div>
  
    
    <app-public>public</app-public>
    <app-stakeholder>stakeholder-component</app-stakeholder>
    <app-owner>owner-component</app-owner>
    <app-department>department-component</app-department>
    <app-secretariat>thesis</app-secretariat>
  </body>
</html>